bs4==0.0.2
importlib-metadata==7.1.0
python-json-logger==2.0.7
lxml==5.2.2
pandas==2.0.2
psycopg2-binary==2.9.9
pydantic==2.7.1
python-dotenv==1.0.1
PyYAML==6.0.1
requests==2.30.0
ruff==0.4.5
sqlalchemy==2.0.30
timy==0.4.2
tqdm==4.66.2
wget==3.2
