OUTPUT_FILES_PATH=C:\Aphonso_C\Dados_RFB\OUTPUT_FILES
EXTRACTED_FILES_PATH=C:\Aphonso_C\Dados_RFB\EXTRACTED_FILES
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=Dados_RFB
